.dashboard {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex: 10;
    border-radius: 10px;
}

.leftPanel {
    display: flex;
    flex: 2;
    flex-direction: column;
    row-gap: 10px;
}

.rightPanel {
    /* display: flex;
    justify-content: space-between; */
    flex: 8;
}

.searchBar {
    display: flex;
}

.searchField {
    margin-right: 10px;
}

.favouritePlace {
    display: flex;
    column-gap: 20px;
    background-color: rgb(109, 156, 197);
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.currentTime {
    font-size: x-small;
}

.forecast {
    font-size: smaller;
    margin-top: 15px;
    font-weight: 500;
}

.temperature {
    font-size: 40px;
    margin-top: -10px;
    color: white;
}

.HLTemp{
    display: flex;
    column-gap: 5px;
    font-size: small;
    margin-top: 8px;
    font-weight: 500;
}

.searchBarParent {
    display: flex;
    justify-content: space-between;
}

.currentForecast {
    justify-content: center;
    display: flex;
}